div#outer
  div#beigeClaim
    form(method='post')
      legend#beigeClaimLeg
        p
          label(for='hex') Hex:
            input(type='text', name= 'hex') #
          input(type='submit', text='submit') 