extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/hallofbeige.css')

block content
  h2.subtitle The Hall of Beige  

  div#beigehall
    ul
      li(style="background: blanchedAlmond;")
        h3 1. beigeName
        h4 beigeHex
        span by 
          a(href="/") userName
      li(style="background: beige;")
        h3 2. beigeName
        h4 beigeHex
        span by 
          a(href="/") userName
      li
        h3 3. beigeName
        h4 beigeHex
        span by 
          a(href="/") userName
      li
        h3 4. beigeName
        h4 beigeHex
        span by 
          a(href="/") userName
      li
        h3 5. beigeName
        h4 beigeHex
        span by 
          a(href="/") userName
      li
        h3 6. beigeName
        h4 beigeHex
        span by 
          a(href="/") userName