extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/hallofbeige.css')

block content
  h2.subtitle The Hall of Beige  

  div#beigehall
    ul
      for beige, i in top10
        li(style="background: blanchedAlmond;")
          h3 #{i+1}. #{beige.name}
          h4 #{beige.hex}
          span by 
            a(href="/") #{beige.twitterId}
      