!!!
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/color.js')
    script(type='text/javascript', src='/javascripts/beige.js')
    script(type='text/javascript', src='http://use.typekit.com/qdy0hot.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}

    block scripts
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
    
  body
    header
      a(href="/")
        h1 Subtle Variations of Beige
    div.content
      block content
    footer
      div.tweet
        div.img_wrapper
          img(src="/img/filler/holowaychuk.jpeg")
        span @tjholowaychuk
        p Cum sociis natoque penatibus et magnis dis parturient.
      div.links
        - if (user != undefined)
          a.username(href='#/#{user.username}/') #{user.username}
        - else
          a.light_button.login(href='/auth/twitter') Login
        a.light_button.cta(href="/claim-a-beige") Claim your Beige
        a.light_button.cta(href="/hall-of-beige") The Hall of beige
        a.light_button.cta(href="/beigewatch") Beigewatch
