!!!
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/color.js')
    script(type='text/javascript', src='/javascripts/beige.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Subtle Variations of Beige
    != body
    footer
      - if (user != undefined)
        a(href='#/#{user.username}/') #{user.username}
      - else
        a(href='/auth/twitter') login
      a(href='#/claim') claim a beige
      a(href='#/hall') hall of beige