html
  padding 0
  height 100%

body 
  height 100%
  padding 0
  margin 0

  header
    position absolute
    width 100%
    text-align center
    z-index 200
    padding-top 25px
    h1
      width 300px
      height 100px
      background url(/img/logo.png) no-repeat
      text-indent -9999px
      margin 0 auto

  div.content
    overflow hidden
    height 100%
    position relative

  footer
    height 80px
    background #232323
    width 97%
    padding 10px 2%
    display block
    position fixed
    bottom 0
    color #fff
    box-shadow inset 0px 1px 0px rgba(#ffffff, 0.1)
    border 1px solid #000000
    div.tweet
      float left
      div.img_wrapper
        display inline-block
        float left
        border-radius 5px
        border darken(#232323, 100%) 1px solid
        box-shadow 1px 1px 0px rgba(darken(#232323, 10%), .8)
        img
          position relative
      span
        float left
        display inline-block
        display none
        text-shadow 1px 1px 1px #000000
        color #999999
      p
        border-radius 5px
        display inline-block
        float left
        padding 10px 18px
        max-width 170px
        // min-height 60px
        position relative
        vertical-align top
        margin 5px 45px 5px 20px
        color #555555
        text-shadow 1px 1px 0px rgba(#ffffff, 0.6)
        background -webkit-linear-gradient(top, #f2f2f2, darken(#f2f2f2, 12%))
        box-shadow inset 0px 1px 0px rgba(#ffffff, .2), 1px 1px 4px rgba(#000000, .2)
        &::before
          background-color darken(#f2f2f2, 4%)
          content "\00a0"
          display block
          height 16px
          position absolute
          top 11px
          transform             rotate( 29deg ) skew( -35deg )
          -moz-transform    rotate( 29deg ) skew( -35deg )
          -ms-transform     rotate( 29deg ) skew( -35deg )
          -o-transform      rotate( 29deg ) skew( -35deg )
          -webkit-transform rotate( 29deg ) skew( -35deg )
          width  20px
          box-shadow -2px 2px 2px 0 rgba(#000000, 0.2)
          left -9px
    div.links
      margin 20px 20px 0px 0px
      float right
      a
        margin-right 20px
      a.username
        color #ffffff
        text-shadow 1px 1px 1px #000000
        font-size 14px
a.dark_button
  margin-left 15px
  display inline-block
  color #ffffff
  padding 0.8em 1.5em
  border-radius 5px
  font-size 14px
  font-weight 700
  text-align center
  background -webkit-linear-gradient(top, #484848, darken(#484848, 12%))
  border 1px solid darken(#484848, 70%)
  text-shadow 1px 1px 0px rgba(#000000, .4)
  text-decoration none
  box-shadow inset 0px 1px 0px rgba(#ffffff, .2), 1px 1px 4px rgba(#000000, .1)
  &:hover
    background -webkit-linear-gradient(top, darken(#484848, 8%), darken(#484848, 20%))
  &:active
    background -webkit-linear-gradient(top, lighten(#484848, 12%), lighten(#484848, 0%))
    margin-top 1px
a.light_button
  display inline-block
  color #555555
  padding 0.8em 1.5em
  border-radius 5px
  font-size 14px
  font-weight 700
  text-align center
  background -webkit-linear-gradient(top, #f2f2f2, darken(#f2f2f2, 12%))
  border 1px solid darken(#f2f2f2, 15%)
  border-bottom-color darken(#f2f2f2, 20%)
  text-shadow 1px 1px 0px rgba(#ffffff, 0.6)
  text-decoration none
  box-shadow inset 0px 1px 0px rgba(#ffffff, 1)
  &:hover
    background -webkit-linear-gradient(top, darken(#f2f2f2, 4%), darken(#f2f2f2, 9%))
    cursor pointer
  &:active
    margin-top 1px
a.login
  background -webkit-linear-gradient(top, #bf4d28, darken(#bf4d28, 12%))
  color #ffffff
  text-shadow 1px 1px 0px rgba(darken(#bf4d28, 40%), 0.6)
  box-shadow inset 0px 1px 0px rgba(lighten(#bf4d28, 40%), 1)
  border 1px solid darken(#bf4d28, 20%)
  border-bottom-color darken(#bf4d28, 50%)
  &:hover
    background -webkit-linear-gradient(top, lighten(#bf4d28, 10%), darken(#bf4d28, 5%))