body
  font 14px $primaryTypeface
  color $bodyText
  font-weight 400

a
  color #00B7FF
  text-decoration none

h1
  font-family $secondaryTypeface
  font-size 38px
  color $bodyText
  font-weight normal
  text-shadow 1px 1px 0px lighten(#ffebcd, 40%)

h2
  font 18px "futura-pt", "Lucida Grande", Helvetica, Arial, sans-serif
  color $bodyText
  font-weight bold  
  &.subtitle
    text-align center
    position absolute
    width 100%
    top 130px
    font-size 14px
