body
  font 14px "futura-pt", "Lucida Grande", Helvetica, Arial, sans-serif
  color $bodyText

a
  color #00B7FF
  text-decoration none

h1
  font-family "bello-pro", sans-serif
  font-size 38px
  color #5C5A58
  text-shadow 1px 1px 0px lighten(#ffebcd, 40%)