body
  font 14px $primaryTypeface
  color $bodyText
  font-weight 400

a
  color #00B7FF
  text-decoration none

h1
  font-family $secondaryTypeface
  font-size 38px
  color $bodyText
  text-shadow 1px 1px 0px lighten(#ffebcd, 40%)