div#vs
  overflow hidden
  height 100%
  position relative
  div.vs
    height 100px
    width 100px
    border-radius 50%
    position absolute
    background-color #ffffff
    top 50%
    left 50%
    margin -100px 0px 0px -50px
    z-index 200
    color #ffffff
    background $bodyText
    // background -webkit-linear-gradient(top, #484848, darken(#484848, 12%))
    // border 1px solid darken(#484848, 70%)
    // text-shadow 1px 1px 0px rgba(#000000, .4)
    // box-shadow inset 0px 1px 0px rgba(#ffffff, .2), 1px 1px 4px rgba(#000000, .1)
    span
      font-size 50px
      font-weight 700
      display block
      text-align center
      margin-top 15px
  a.refresh
    position absolute
    width 130px
    height 20px
    top 50%
    left 50%
    margin 50px 0px 0px -75px
    padding 10px
    z-index 200
  .choice
    width 50%   
    float left
    height 100%
    text-align center
    position relative
    div.desc
      height 300px
      position absolute
      top 50%
      margin-top -120px
      width 100%
      .name
        font-family $primaryTypeface
        font-size 30px
        margin 0px
      .hex
        margin 0px 0px 20px 0px
        font-size 20px
        text-transform lowercase
        color $greyText