body
  background-color #F0D8A8
  -webkit-animation claim_animation 20s infinite
  -moz-animation claim_animation 20s infinite
  animation claim_animation 20s infinite

@keyframes claim_animation {
  0% {background-color #F0D8A8}
  25% {background-color #F2D694}
  50% {background-color #D9CEB2}
  75% {background-color #EDDEA7}
  100% {background-color #F0D8A8}
}
@-moz-keyframes claim_animation {
  0% {background-color #F0D8A8}
  25% {background-color #F2D694}
  50% {background-color #D9CEB2}
  75% {background-color #EDDEA7}
  100% {background-color #F0D8A8}
}
@-webkit-keyframes claim_animation {
  0% {background-color #F0D8A8}
  25% {background-color #F2D694}
  50% {background-color #D9CEB2}
  75% {background-color #EDDEA7}
  100% {background-color #F0D8A8}
}