body {
  background-color: #f0d8a8;
  -webkit-animation: claim_animation 20s infinite;
  -moz-animation: claim_animation 20s infinite;
  animation: claim_animation 20s infinite;
}
@-moz-keyframes claim_animation {
  0% {
    background-color: #f0d8a8;
  }

  25% {
    background-color: #f2d694;
  }

  50% {
    background-color: #d9ceb2;
  }

  75% {
    background-color: #eddea7;
  }

  100% {
    background-color: #f0d8a8;
  }
}
@-webkit-keyframes claim_animation {
  0% {
    background-color: #f0d8a8;
  }

  25% {
    background-color: #f2d694;
  }

  50% {
    background-color: #d9ceb2;
  }

  75% {
    background-color: #eddea7;
  }

  100% {
    background-color: #f0d8a8;
  }
}
@-moz-keyframes claim_animation {
  0% {
    background-color: #f0d8a8;
  }

  25% {
    background-color: #f2d694;
  }

  50% {
    background-color: #d9ceb2;
  }

  75% {
    background-color: #eddea7;
  }

  100% {
    background-color: #f0d8a8;
  }
}
@-webkit-keyframes claim_animation {
  0% {
    background-color: #f0d8a8;
  }

  25% {
    background-color: #f2d694;
  }

  50% {
    background-color: #d9ceb2;
  }

  75% {
    background-color: #eddea7;
  }

  100% {
    background-color: #f0d8a8;
  }
}
@-o-keyframes claim_animation {
  0% {
    background-color: #f0d8a8;
  }

  25% {
    background-color: #f2d694;
  }

  50% {
    background-color: #d9ceb2;
  }

  75% {
    background-color: #eddea7;
  }

  100% {
    background-color: #f0d8a8;
  }
}
@-ms-keyframes claim_animation {
  0% {
    background-color: #f0d8a8;
  }

  25% {
    background-color: #f2d694;
  }

  50% {
    background-color: #d9ceb2;
  }

  75% {
    background-color: #eddea7;
  }

  100% {
    background-color: #f0d8a8;
  }
}
@keyframes claim_animation {
  0% {
    background-color: #f0d8a8;
  }

  25% {
    background-color: #f2d694;
  }

  50% {
    background-color: #d9ceb2;
  }

  75% {
    background-color: #eddea7;
  }

  100% {
    background-color: #f0d8a8;
  }
}
