.content {
  height: auto;
}
#beigehall ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#beigehall ul li {
  width: 96%;
  margin: 0;
  padding: 80px 2%;
}
#beigehall ul li:first-child {
  padding-top: 210px;
}
#beigehall ul h3,
#beigehall ul h4 {
  margin: 0;
}
#beigehall ul h3 {
  float: left;
  font-size: 24px;
  margin-bottom: 8px;
}
#beigehall ul h4 {
  float: right;
}
#beigehall ul span {
  font-size: 16px;
  display: block;
  clear: both;
}
