.content
  height auto

#beigehall
  ul
    list-style-type none
    margin 0
    padding 0
    li
      width 96%
      margin 0
      padding 80px 2%
      &:first-child
        padding-top 210px
    h3, h4
      margin 0
    h3
      float left
      font-size 24px
      margin-bottom 8px
    h4
      float right
    span
      font-size 16px
      display block
      clear both



