html {
  padding: 0;
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
body a {
  color: #00b7ff;
}
body header {
  position: absolute;
  width: 100%;
  text-align: center;
}
body #outer {
  overflow: hidden;
  height: 100%;
}
body #outer .choices {
  width: 50%;
  float: left;
  height: 100%;
  padding-top: 400px;
  text-align: center;
}
body footer {
  height: 20px;
  background: #232323;
  width: 96%;
  padding: 2%;
  display: block;
  position: fixed;
  bottom: 0;
}
body footer div.tweet {
  color: #fff;
  width: 70%;
  float: left;
}
body footer div.tweet span {
  display: inline;
  margin-right: 10px;
}
body footer div.tweet span:after {
  content: ":";
}
body footer div.tweet p {
  display: inline;
  margin: 0;
}
body footer a {
  float: right;
}
