body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFEBCD;
}

a {
  color: #00B7FF;
}

.beigeOptions {
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
	border: 1px solid #000;
}

