body 
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  min-height 100%

  a 
    color #00B7FF

  header
    position absolute
    width 100%
    h1
      text-align center


  .choices 
    width 50%   
    float left
    min-height 200px
    padding-top 400px
    text-align center


  footer
    height 50px
    background #232323
    width 96%
    padding 2%
    display block
    position fixed
    bottom 0



